<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			<img src="./public/images/menu-icon.png">
        		</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" ng-click="addForm()">Add Athlete</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" ng-click="view()">View Athletes</a>
				</div>
			</button>
			<h1>Athlete Forms</h1>
		</div>
	</div>
</nav>